html{
    box-sizing: border-box;
}
*{
    box-sizing: inherit;
}
body{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #fff;
	background: linear-gradient(to bottom right, #1372bc, #e7f1f9);
    height: 100vh;
}
main{
	width: 100%;
	position: absolute;
	top: 50%;
	text-align: center;
	transform: translateY(-50%);
	
}
.preload{
	-webkit-animation: preload 3s linear;
            animation: preload 3s linear;
}
  @-webkit-keyframes preload {
    from {
      transform: scale(0.7);
    }
    to {
      transform: scale(1);
    }
  }
  
  @keyframes preload {
    from {
      transform: scale(0.7);
    }
    to {
      transform: scale(1);
    }
  }
.title{
	font-size: 48px;
	font-weight: 600;
	margin-bottom: 50px;
}
.text{
	line-height: 34px;
}

@media(max-width: 960px){
	.title{
	font-size: 36px;
}
.text{
	font-size: 20px;
}
}
@media(max-width: 620px){
	.title{
	font-size: 26px;
	margin-bottom: 25px;
}
.text{
	font-size: 14px;
}

}